body {
}
body h1 {
    text-align: center;
}
input{
    width: 59px;
    height: 59px;
}
.table{
    display:table;
    margin: auto;         
    width:auto;                
    border:3px solid  black;     
    overflow: hidden;  
   
}
.table-row{
    display:table-row;
    width:50%;
    height: 50%;
    clear:both;
    overflow: hidden;  
}
.table-col{
    float:left;
    display:table-column;         
    width:60px;
    height: 60px;        
    border:1px solid  #ccc;
    overflow: hidden;  
}
.table-col2{
    float:left;
    display:table-column;         
    width:60px; 
    height: 60px;          
    border:1px solid  #ccc;
    padding-right:16px;
    overflow: hidden;  
}
.empurra {
   margin-top: 16px;
}
