body {
    background-color: #EDEDED;
}
.container {
    text-align: center;
}
#numeros {
    font-size: larger;
    color:#2980b9;
}
.square {
    background: #FFFFFF;
    height:0;
    width:75%;
    padding-bottom:75%;
    border-radius: 3px;
    border-style: solid;
    border-width: 3px;
    border-color: #2c3e50;
    overflow: hidden; 
}
#bloco {
    border-style: hidden  solid solid hidden ;
    border-width: 3px;
    border-color: #2c3e50;
}
.cedula {
    height:53px;
    width:54px;
    border-style: solid solid none none;
    border-width: 0.5px;
    border-color: #3498db;
    color: #2c3e50;;
    text-align: center;
    font-size: 30px;
}
.botao{
    margin-right: 50%;
}